// Colors

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$white: #fff;

// Text Styles

$text: #777;

// Images

$img-disp: block;
$img-border: #ccc;

// Grid Styles


$grid-col-1-color: #927bc1;
$grid-col-2-color: #fd7856;
$grid-col-3-color: #deb2ee;
$grid-col-4-color: #7ee6fd;
$grid-col-5-color: #88d9a0;
$grid-col-6-color: #4da2bb;
$grid-col-7-color: #ec9fa3;
$grid-col-8-color: #fd9f85;
$grid-col-9-color: #e4757a;
$grid-col-10-color: #63cc82;
$grid-col-12-color: #80e8d1;