
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  @include button;
  transition: background-color 500ms;
}

.default {
  background-color: $default-color;

  &:hover {
    background-color: $default-button-light;
  }
}

.error {
  background-color: $error-color;

  &:hover {
    background-color: $error-button-light;
  }
}

.info {
  background-color: $info-color;

  &:hover {
    background-color: $info-button-light;
  }
}

.success {
  background-color: $success-color;

  &:hover {
    background-color: $success-button-light;
  }
}

.warning {
  background-color: $warning-color;

  &:hover {
    background-color: $warning-button-light;
  }
}